@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to VideoPlayerClient</h1>
<p>This is the home page of your video player client application.</p>
<a href="/Home/VideoPlayer" class="btn btn-primary">Go to Video Player</a>
